<ion-view view-title="Account Details">
  <ion-nav-buttons side="right">
    <a ng-if="user" class="button button-small button-primary" href="#/app/account/edit/{{user.id}}">Edit</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="item item-body item-text-wrap">
        <div class="item item-image">
          <img ng-src="img/person.png">
        </div>
        <h2>{{user.username}}, <span class="label_pets_locale">{{user.country}}, {{user.city}}</span></h2>
        <p>Email: {{user.email}}</p>
        <p>Type: {{user.type}}</p>
        <div class="content_user list" ng-if="user">

        </div>
        <div class="content_user" ng-if="!user">
          <p>
            <button class="button button-full button-positive" ng-click="doEnterRoom()">
            Send email
          </button>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>